# Compiled
*.elc

# Packaging
.cask

# IDO cache
ido.last

# Projectile cache
projectile-bookmarks.eld
projectile.cache

# Ignored directories
auto-save-list
eshell
elpa
url
places
smex-items
tramp
helm-adaptive-history
recentf
backups
bookmarks
